---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="container w-full flex-grow py-8 mx-auto flex max-w-3xl flex-col gap-2 px-8 relative top-4">
    <h1 class="text-4xl font-semibold">oh no!</h1>
    <p>this page is... missing?</p>
    <a href="/">go back home</a>
  </div>
</Layout>

<style>
.container {
  background-color: var(--bg);
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
</style>
