---
import { site } from "../config";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="theme-color" content="#35374b">
    <meta name="author" content="Vitalya Volynskiy">

    <meta property="og:type" content="profile" />
    <!-- <meta property="og:image" content='https://vitalya.me/og-image.png'/> -->
    <meta property="og:title" content="Vitalya" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="software engineer from Kazakhstan" />
    <meta property="og:description" content="software engineer from Kazakhstan" />
    <meta property="og:url" content="https://vitalya.me/" />

    <meta property="profile:first_name" content="Vitalya">
    <meta property="profile:last_name" content="Volynskiy">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="vitalyavolyn">

    <link rel="canonical" href="https://vitalya.me/" />
    <meta name="generator" content={Astro.generator} />
    <title>{site.name}</title>
  </head>
  <body>
    <div class="balls" />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .balls {
    position: fixed;
    inset: 0;
    image-rendering: pixelated;
    background: url(/balls.png) repeat;
    background-size: 10% auto;
    animation: slideBackground 120s linear infinite;
  }

  @keyframes slideBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }
</style>
